block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up

        // register form
        form(method='POST' action='/app/setCompanyLikes')
          div.form-group
            label(for='firstName') Company Id:
            input#name.form-control(type='text', placeholder='Company Id' name='companyId')
          div.form-group
            label(for='lastName') Likes:
            input#name.form-control(type='text', placeholder='Company Likes' name='likes')
          button.btn.btn-primary(type='submit') Like Up