block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up

        // register form
        form(method='POST' action='/register')
          div.form-group
            label(for='firstName') First Name:
            input#name.form-control(type='text', placeholder='First Name' name='firstName')
          div.form-group
            label(for='lastName') Last Name:
            input#name.form-control(type='text', placeholder='Last Name' name='lastName')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div.form-group
            label(for='mobNumber') Mobile Number:
            input#favoriteBook.form-control(type='number', placeholder='Mobile Number' name='mobNo')
          div.form-group
            label(for='pass') Password:
            input#pw.form-control(type='password' name='pass')
          button.btn.btn-primary(type='submit') Sign up